<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Invoice</title>
    
    <style>

        *{
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            line-height: 14px;
        }

        .container{
            position: relative;
        }

        table {
            width: 100%;
        }

        .small{
            font-size:10px;
            line-height: 10px;
            display: block;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }

        .footer{
            position:absolute;
            bottom:0;
            left:0;
        }

        .recipient {

        }

        .separator {
            height: 20px;
        }

        label {
            color: #9E9E9E;
        }

        h1 {
            font-weight: bold;
        }


        .primary-color {
            color: #03A9F4;
        }

    </style>
</head>

<body>
    <div class='container'>
        <table>
            <tr>
                <td class="title">

                    <img src='https://assets-cdn.github.com/images/modules/logos_page/Octocat.png' width='80'>
                </td>
                
                <td class='right info'>

                    <span>{{ invoice.sender.name }}</span><br>
                    <span>{{ invoice.sender.registered_office_address.street }}</span>
                    <span>{{ invoice.sender.registered_office_address.zip_code }}</span>
                    <span>{{ invoice.sender.registered_office_address.city }}</span>
                    <span>({{ invoice.sender.registered_office_address.province }})</span><br>
                    <span>{{ invoice.sender.code_vat }}</span><br>
                </td>
            </tr>
        </table>
        <div class='separator'></div>
        <h1 class='primary-color'>INVOICE</h1>
        <b>#{{ invoice.number }}</b>
        
        <table>
            <tr>
                <td class='left'>                    
                    Issue Date: {{ invoice.issued_at|date("D F, Y") }} <br>
                    Due Date: {{ invoice.expires_at|date("D F, Y") }} <br>
                </td>
                
                <td class='recipient right'>
                    Bill to:<br>

                    <b>{{ invoice.recipient.name }}</b><br>
                    <span>{{ invoice.recipient.registered_office_address.street }}</span>
                    <span>{{ invoice.recipient.registered_office_address.zip_code }}</span>
                    <span>{{ invoice.recipient.registered_office_address.city }}</span>
                    <span>({{ invoice.recipient.registered_office_address.province }})</span><br>
                    <span>{{ invoice.recipient.code_vat }}</span><br>
                </td>
            </tr>
        </table>
        <div class='separator'></div>
        <table class='items table' cellpadding='0' cellspacing='0'>
            <tr class="heading">
                <td>
                    Item
                </td>
                <td class="right" width='50'>
                    Quantity
                </td>
                <td class="right" width='50'>
                    Subtotal
                </td>
                <td class="right" width='50'>
                    Tax
                </td>
                <td class="right" width='50'>
                    Linetotal
                </td>
            </tr>

            {% for item in invoice.items %}

                <tr class="item">
                    <td>
                        {{ item.name }}<br>
                        <i class='small'>{{ item.description }}</i>
                    </td>
                    <td class="right">
                        {{ item.quantity }} {{ item.unit.name }}
                    </td>
                    <td class='right'>
                        {{ item.formatPrice(item.calculatePriceTaxable()) }}
                    </td>
                    <td class="right">
                        {{ item.formatPrice(item.calculatePriceTax()) }}<br>
                        <i class='small'>{{ item.tax.name }}</i>
                    </td>
                    <td class="right">
                        {{ item.formatPrice(item.calculatePriceTaxed()) }}
                    </td>
                </tr>

            {% endfor %}
            
        </table>

        <table>
            <tr>
                <td></td>
                <td width='150'>
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td class="right">
                                {{ invoice.formatPrice(invoice.calculatePriceTaxable()) }}
                            </td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td class="right">
                                {{ invoice.formatPrice(invoice.calculatePriceTax()) }}
                            </td>
                        </tr>
                        <tr>
                            <td> <span class='primary-color'><b>TOTAL</b></span> </td>
                            <td class="right">
                                <b>{{ invoice.formatPrice(invoice.calculatePriceTaxed()) }}</b>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div class='footer'>
            <span class='primary-color'>
                Thank you very much. We really appreaciate your business.<br>
                Please send payments before the due date.<br>
            </span>
            <div class='separator'></div>
            <span class='small'>IBAN: PL61109010140000071219812874</span>
        </div>
    </div>
</body>
</html>